/*Colours*/
$cloudy-blue: rgb(202,215,221);
$charcoal-grey: rgb(55,61,64);
$greeny-blue: rgb(73,200,168);
$tiffany-blue: rgb(96,230,197);
$cloudy-blue-two: rgb(177,191,205);
$pale-grey: rgb(245,248,249);
$black: rgb(56,56,56);
$tangerine: rgb(255,149,0);
$sunflower-yellow: rgb(255,213,0);

/*Typography*/
$font: Arial;